/* Empty. Add your own CSS if you like */
body {
	
}

.button.button-border-left {
	border-left: 1px solid #ddd;
}

input[type=text] {
	text-transform: uppercase;
}

input[type=email] {
	text-transform: lowercase;
}