﻿<ion-view view-title="Clientes">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="showNewClientForm($event)">
			Nuevo
		</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Deslice para actualizar..."
					   on-refresh="performSearch()">
		</ion-refresher>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search" data-ng-model="data.searchText" data-ng-change="performSearch()">
			</label>
			<button class="button button-clear" data-ng-click="clearSearch($event)">
				Cancel
			</button>
		</div>
		<ion-list>
			<ion-item data-ng-repeat="obj in customersList">
				<h2>{{obj.Alias}}</h2>
				<p>{{obj.Name}}</p>
				<p>{{obj.Address}}</p>
				<p>{{obj.Neighborhood}}, {{obj.CityName}}, C.P. {{obj.ZipCode}}, {{obj.StateName}}</p>
				<p>Responsable: {{obj.ManagerName}}, Tel&eacute;fono: {{obj.WorkPhone}}, Mov&iacute;l: {{obj.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editCustomer(obj, $event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showStores(obj, $event)">Tiendas</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showCustomerOrders(obj, $event)">Pedidos</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
