﻿<ion-view view-title="Pedidos por Cliente">
	<ion-nav-buttons side="right">
		
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Deslice para actualizar..."
					   on-refresh="loadData()">
		</ion-refresher>
		<ion-list>
			<div class="item item-divider">
				Cliente
			</div>
			<ion-item>
				<h2>{{customerData.Alias}}</h2>
				<p>{{customerData.Name}}</p>
				<p>{{customerData.Address}}</p>
				<p>{{customerData.Neighborhood}}, {{customerData.CityName}}, C.P. {{customerData.ZipCode}}, {{customerData.StateName}}</p>
				<p>Responsable: {{customerData.ManagerName}}, Tel&eacute;fono: {{customerData.WorkPhone}}, Mov&iacute;l: {{customerData.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editCustomer($event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showStores($event)">Tiendas</ion-option-button>
			</ion-item>
			<div class="item item-divider">
				Ventas
			</div>
			<ion-item data-ng-show="sellsList.length == 0">
				<p style="text-align: center;">El cliente no tiene ventas registradas.</p>
			</ion-item>
			<ion-item data-ng-repeat="obj in sellsList | orderBy:'CreatedDate':true">
				<div class="row">
					<div class="col col-20">Cliente:</div>
					<div class="col" style="font-weight: bold;">{{obj.CustomerName}}</div>
				</div>
				<div class="row">
					<div class="col col-20">Tienda:</div>
					<div class="col" style="font-weight: bold;">{{obj.StoreName}}</div>
				</div>
				<div class="row">
					<div class="col col-20">Folio:</div>
					<div class="col col-20" style="font-weight: bold;">{{obj.Key}}</div>
					<div class="col col-20">Fecha:</div>
					<div class="col col-20" style="font-weight: bold;">{{obj.CreatedDate | date: 'dd-MM-yyyy'}}</div>
					<div class="col col-10">Hora:</div>
					<div class="col col-10" style="font-weight: bold;">{{obj.CreatedDate | date: 'shortTime'}}</div>
				</div>
				<div class="row">
					<div class="col col-20">Importe:</div>
					<div class="col col-20" style="font-weight: bold;">{{obj.Total | currency:'$':2}}</div>
					<div class="col col-20">Rentabilidad:</div>
					<div class="col col-20" style="font-weight: bold; text-align: left;">{{obj.Profitability | currency:'':2}}%</div>
					<div class="col col-10">Enviado:</div>
					<div class="col col-10" style="font-weight: bold;">&nbsp;&nbsp;{{obj.IsSended ? 'Si': 'No'}}</div>
				</div>
				<ion-option-button class="button-light button-border-left" data-ng-click="showOrder(obj, $event)">Mostrar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showStoreSells(obj, $event)">Tienda</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
