<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-balanced">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" expose-aside-when="large">
		<ion-header-bar class="bar-balanced">
			<h1 class="title">Opciones</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/routes">
					Rutas
				</ion-item>
				<ion-item menu-close href="#/app/customers">
					Clientes
				</ion-item>
				<ion-item menu-close href="#/app/orders">
					Pedidos
				</ion-item>
				<ion-item menu-close href="#/app/invoices">
					Pagos
				</ion-item>
				<ion-item menu-close href="#/app/settings">
					Configuraci&oacute;n
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
