﻿<ion-view view-title="Pagos" cache-view="false">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Deslice para actualizar..."
					   on-refresh="loadInvoices()">
		</ion-refresher>
		<ion-list>
			<ion-item data-ng-repeat="obj in invoicesList">
				<h2>No. de Factura: {{obj.Number}}</h2>
				<p>Cliente: {{obj.CustomerName}}</p>
				<p>Tienda: {{obj.StoreName}}</p>
				<p>Orden: {{obj.OrderNumber}}</p>
				<p>Fecha de Orden: {{obj.OrderDate}}</p> 
				<p>Fecha de Entrega: {{obj.DeliveryDate}}</p> 
				<p>Subtotal: {{obj.SubTotal | currency:"$":2}}, IVA: {{obj.IVA | currency:"$":2}}, Total: {{obj.Total | currency:"$":2}}</p>
				<p>Pendiente por pagar: {{obj.PendindPayment | currency:"$":2}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-show="(+obj.PendindPayment > 0) ? true:false" data-ng-click="showNewPaymentForm(obj, $event)">Pagar</ion-option-button>
			</ion-item>
			<ion-item data-ng-show="invoicesList.length == 0">
				<p style="text-align: center;">No existen facturas por cobrar en su ruta.</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

