﻿<ion-view view-title="Detalle de Venta">
	<ion-nav-buttons side="right">	
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				Datos del Cliente
			</div>
			<ion-item>
				<h2>{{customerData.Alias}}</h2>
				<p>{{customerData.Name}}</p>
				<p>{{customerData.Address}}</p>
				<p>{{customerData.Neighborhood}}, {{customerData.CityName}}, C.P. {{customerData.ZipCode}}, {{customerData.StateName}}</p>
				<p>Responsable: {{customerData.ManagerName}}, Tel&eacute;fono: {{customerData.WorkPhone}}, Mov&iacute;l: {{customerData.MobilePhone}}</p>
			</ion-item>
			<div class="item item-divider">
				Datos de la Tienda
			</div>
			<ion-item>
				<h2>{{storeData.Alias}}</h2>
				<p>{{storeData.Name}}</p>
				<p>{{storeData.Address}}</p>
				<p>{{storeData.Neighborhood}}, {{storeData.CityName}}, C.P. {{storeData.ZipCode}}, {{storeData.StateName}}</p>
				<p>Responsable: {{storeData.ManagerName}}, Tel&eacute;fono: {{storeData.WorkPhone}}, Mov&iacute;l: {{storeData.MobilePhone}}</p>
			</ion-item>
			<div class="item item-divider">
				Informaci&oacute;n General
			</div>
			<ion-item>
				<table style="width: 100%;">
					<tr>
						<td>
							<p>Folio:</p>
						</td>
						<td style="text-align: left;">
							<p>{{orderData.Key}}</p>
						</td>
						<td>
							<p>Creada:</p>
						</td>
						<td style="text-align: left;">
							<p>{{orderData.CreatedDate}}</p>
						</td>
						<td style="text-align: right;">
							<p>Enviada:</p>
						</td>
						<td>
							<p>{{orderData.IsSended ? "Si": "No"}}</p>
						</td>
					</tr>
				</table>
			</ion-item>
			<div class="item item-divider">
				Productos Solicitados
			</div>
			<ion-list data-ng-repeat="obj in orderItems | orderBy : 'Name'">
				<ion-item>
					<h2>{{obj.Code}}</h2>
					<p style="font-weight: bold;">{{obj.Name}}</p>
					<table style="width: 100%;">
						<tr>
							<td>
								<p>Medida:</p>
							</td>
							<td>
								<p style="font-weight: bold;">{{obj.UnitName}}</p>
							</td>
							<td style="text-align:right;">
								<p>Cantidad:</p>
							</td>
							<td style="text-align: right;">
								<p style="font-weight: bold;">{{obj.Amount | currency:"":0}}</p>
							</td>
							<td style="text-align: right;">
								<p>Precio:</p>
							</td>
							<td style="text-align:right;">
								<p style="font-weight: bold;">{{obj.FinalPrice | currency:"$":2}}</p>
							</td>
							<td style="text-align: right;">
								<p>Total:</p>
							</td>
							<td style="text-align:right;">
								<p style="font-weight: bold;">{{obj.Total| currency:"$":2}}</p>
							</td>
							<td style="text-align: right;">
								<p>&nbsp;&nbsp;R:</p>
							</td>
							<td style="text-align:right;">
								<p style="font-weight: bold;">{{obj.Profitability | currency:"":2}}%</p>
							</td>
						</tr>
					</table>
				</ion-item>
			</ion-list>
			<div class="item item-divider">
				Comentarios para el departamento de Ventas
			</div>
			<ion-item>
				<p>{{orderData.SalesComments}}</p>
			</ion-item>
			<div class="item item-divider">
				Comentarios para el departamento de Cred&iacute;to y Cobranza
			</div>
			<ion-item>
				<p>{{orderData.FinancialComments}}</p>
			</ion-item>
			<div class="item item-divider">
				Comentarios para el Almac&eacute;n
			</div>
			<ion-item>
				<p>{{orderData.DeliveryComments}}</p>
			</ion-item>
			<div style="height: 45px;">
				<!-- Padding Bottom -->
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
		<div class="title">Importe Total: {{orderData.Total | currency:"$":2}}, Rentabilidad: {{orderData.Profitability | currency:"":2}}%</div>
	</div>
</ion-view>
