﻿<ion-view view-title="Registrar Venta">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="confirmOrder($event)">
			Guardar
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				Datos del Cliente
			</div>
			<ion-item>
				<h2>{{customerData.Alias}}</h2>
				<p>{{customerData.Name}}</p>
				<p>{{customerData.Address}}</p>
				<p>{{customerData.Neighborhood}}, {{customerData.CityName}}, C.P. {{customerData.ZipCode}}, {{customerData.StateName}}</p>
				<p>Responsable: {{customerData.ManagerName}}, Tel&eacute;fono: {{customerData.WorkPhone}}, Mov&iacute;l: {{customerData.MobilePhone}}</p>
			</ion-item>
			<div class="item item-divider">
				Datos de la Tienda
			</div>
			<ion-item>
				<h2>{{storeData.Alias}}</h2>
				<p>{{storeData.Name}}</p>
				<p>{{storeData.Address}}</p>
				<p>{{storeData.Neighborhood}}, {{storeData.CityName}}, C.P. {{storeData.ZipCode}}, {{storeData.StateName}}</p>
				<p>Responsable: {{storeData.ManagerName}}, Tel&eacute;fono: {{storeData.WorkPhone}}, Mov&iacute;l: {{storeData.MobilePhone}}</p>
			</ion-item>
			<div class="item item-divider">
				Agregar Producto
			</div>
			<div class="padding ">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Clave, Nombre o Descripci&oacute;n" data-ng-model="searchOptions.text">
				</label>
				<button class="button button-block button-positive" data-ng-click="searchProduct($event)">
					Buscar
				</button>
			</div>
			<div class="item item-divider">
				Carrito de Compras
			</div>
			<ion-list data-ng-repeat="obj in selectedProducts | orderBy : '' : true">
				<ion-item>
					<h2>{{obj.Code}}</h2>
					<p style="font-weight: bold;">{{obj.Name}}</p>
					<table style="width: 100%;">
						<tr>
							<td>
								<p>Medida:</p>
							</td>
							<td>
								<p style="font-weight: bold;">{{obj.UnitName}}</p>
							</td>
							<td style="text-align:right;">
								<p>Cantidad:</p>
							</td>
							<td style="text-align: right;">
								<p style="font-weight: bold;">{{obj.Amount | currency:"":0}} de {{obj.Stock | currency:"":0}}</p>
							</td>
							<td style="text-align: right;">
								<p>Precio:</p>
							</td>
							<td style="text-align:right;">
								<p style="font-weight: bold;">{{obj.CurrentPrice | currency:"$":2}}</p>
							</td>
							<td style="text-align: right;">
								<p>Total:</p>
							</td>
							<td style="text-align:right;">
								<p style="font-weight: bold;">{{obj.CurrentPrice * obj.Amount | currency:"$":2}}</p>
							</td>
							<td style="text-align: right;">
								<p>&nbsp;&nbsp;R:</p>
							</td>
							<td style="text-align:right;">
								<p style="font-weight: bold;">{{obj.Profitability | currency:"":2}}%</p>
							</td>
						</tr>
					</table>
					<ion-option-button class="button-energized" data-ng-click="changePrice(obj, $event)">Precio</ion-option-button>
					<ion-option-button class="button-balanced" data-ng-click="changeAmount(obj, $event)">Cantidad</ion-option-button>
					<ion-option-button class="button-assertive" data-ng-click="removeProduct(obj, $event)">Eliminar</ion-option-button>
				</ion-item>
			</ion-list>
			<div style="height: 45px;">
			<!-- Padding Bottom -->
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
		<button class="button button-clear" style="display:none;">Left</button>
		<div class="title">Importe Total: {{getTotal().Total | currency:"$":2}}, Rentabilidad: {{getTotal().Profitability}}%</div>
		<button class="button button-clear" style="display:none;">Right</button>
	</div>
</ion-view>
