﻿<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<div class="buttons">
			<button class="button button-icon icon ion-arrow-left-c" data-ng-click="closeSearch()"></button>
		</div>
		<h1 class="title">Coincidencias para "{{searchOptions.formatedText}}"</h1>
	</ion-header-bar>
	<ion-content>
		<ion-list data-ng-repeat="obj in searchResults | orderBy: 'Name'">
			<ion-item>
				<h2>{{obj.Code}}</h2>
				<p style="font-weight: bold;">{{obj.Name}}</p>
				<table style="width: 100%;">
					<tr>
						<td>
							<p>Medida:</p>
						</td>
						<td>
							<p style="font-weight: bold;">{{obj.UnitName}}</p>
						</td>
						<td style="text-align: right;">
							<p>Precio:</p>
						</td>
						<td style="text-align:right;">
							<p style="font-weight: bold;">{{obj.DefaultPrice | currency:"$":2}}</p>
						</td>
						<td style="text-align: right;">
							<p style="font-weight: bold;">{{obj.Stock | currency:"":0}} Unidades</p>
						</td>
					</tr>
				</table>
				<ion-option-button class="button-balanced" data-ng-click="addProduct(obj, $event)">Agregar</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>