﻿<ion-modal-view>
	<ion-header-bar class="bar-balanced">
		<div class="buttons">
			<button class="button button-icon icon ion-arrow-left-c" data-ng-click="closeConfirmationWindow()"></button>
		</div>
		<h1 class="title">Comentarios</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="saveOrder($event)">
				Guardar
			</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<div class="item item-divider">
				<h2>Informaci&oacute;n para Ventas</h2>
			</div>
			<ion-item>
				<textarea maxlength="255" rows="4" style="width: 100%;" data-ng-model="orderOptions.adminComments"></textarea>
			</ion-item>
			<div class="item item-divider">
				<h2>Informaci&oacute;n para Cr&eacute;dito y Cobranza</h2>
			</div>
			<ion-item>
				<textarea maxlength="255" rows="4" style="width: 100%;" data-ng-model="orderOptions.financialComments"></textarea>
			</ion-item>
			<div class="item item-divider">
				<h2>Informaci&oacute;n para Almac&eacute;n</h2>
			</div>
			<ion-item>
				<textarea maxlength="255" rows="4" style="width: 100%;" data-ng-model="orderOptions.deliveryComments"></textarea>
			</ion-item>
		</ion-list>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
		<div class="title">Importe Total: {{getTotal().Total | currency:"$":2}}, Rentabilidad: {{getTotal().Profitability}}%</div>
	</div>
</ion-modal-view>