<ion-view view-title="Pagos">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="savePayment($event)">
			Guardar
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				Datos del Cliente
			</div>
			<ion-item>
				<h2>{{customerData.Alias}}</h2>
				<p>{{customerData.Name}}</p>
				<p>{{customerData.Address}}</p>
				<p>{{customerData.Neighborhood}}, {{customerData.CityName}}, C.P. {{customerData.ZipCode}}, {{customerData.StateName}}</p>
				<p>Responsable: {{customerData.ManagerName}}, Tel&eacute;fono: {{customerData.WorkPhone}}, Mov&iacute;l: {{customerData.MobilePhone}}</p>
			</ion-item>
			<div class="item item-divider">
				Datos de la Tienda
			</div>
			<ion-item>
				<h2>{{storeData.Alias}}</h2>
				<p>{{storeData.Name}}</p>
				<p>{{storeData.Address}}</p>
				<p>{{storeData.Neighborhood}}, {{storeData.CityName}}, C.P. {{storeData.ZipCode}}, {{storeData.StateName}}</p>
				<p>Responsable: {{storeData.ManagerName}}, Tel&eacute;fono: {{storeData.WorkPhone}}, Mov&iacute;l: {{storeData.MobilePhone}}
				</p>
			</ion-item>
			<div class="item item-divider">
				Datos de la Factura
			</div>
			<ion-item>
				<h2>No. de Factura: {{invoice.Number}}</h2>
				<p>Fecha de Entrega: {{invoice.DeliveryDate}}  Adeudo: {{invoice.PendindPayment | currency:"$":2}}</p>
				<p>No. de Orden: {{invoice.OrderNumber}}  Fecha de la orden: {{invoice.OrderDate}}</p>
			</ion-item>
			<div class="item item-divider">
				Datos del Pago
			</div>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Monto:</span>
					<input type="text" data-ng-model="payment.Amount" style="text-align:center;border-color: #fff #b2b2b2 #b2b2b2 #b2b2b2;font-weight: bold;" />
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Comentarios:</span>
					<input type="text" data-ng-model="payment.Comments"/>
				</label>
				<div class="item item-divider">
					Forma de Pago:
				</div>
				<ion-radio name="method" data-ng-repeat="obj in getPaymentMethodsList()"
						   data-ng-model="payment.PaymentMethodID" ng-value="'{{obj.ID}}'">{{obj.Name}}</ion-radio>
				<label class="item item-input item-stacked-label" ng-show="payment.PaymentMethodID != '00'">
					<span class="input-label">Referencia:</span>
					<input type="text" data-ng-model="payment.Reference" placeholder="Numero de cheque/transferencia."/>
				</label>
			</div>
			<div style="height: 45px;">
			<!-- Padding Bottom -->
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-balanced">
		<button class="button button-clear" style="display:none;">Left</button>
		<div class="title">Saldo Pendiente: {{getPendindPayment() | currency:"$":2}}</div>
		<button class="button button-clear" style="display:none;">Right</button>
	</div>
</ion-view>
