﻿<ion-view view-title="Rutas">
	<ion-nav-buttons side="right">
		
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Deslice para actualizar..."
					   on-refresh="loadRoutes()">
		</ion-refresher>
		<ion-list>
			<ion-item data-ng-repeat="obj in routesList">
				<h2>{{obj.Name}}</h2>
				<p>{{obj.Address}}</p>
				<p>{{obj.Neighborhood}}, {{obj.CityName}}, C.P. {{obj.ZipCode}}, {{obj.StateName}}</p>
				<p>Responsable: {{obj.ManagerName}}, Tel&eacute;fono: {{obj.WorkPhone}}, Mov&iacute;l: {{obj.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editStore(obj, $event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="performSell(obj, $event)">Vender</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showStoreOrders(obj, $event)">Pedidos</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
