<ion-view view-title="Configuraci&oacute;n">
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Api Key</span>
				<input type="password" placeholder="Api Key" data-ng-model="data.apiKey">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Usuario</span>
				<input type="text" placeholder="Clave de Acceso" data-ng-model="data.apiUserName">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Contrase&ntilde;a</span>
				<input type="password" placeholder="Contrase&ntilde;a" data-ng-model="data.apiPwd">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Periodo de Actualizaci&oacute;n</span>
				<input type="number" min="5" max="60" ng-model="data.apiDelay"
					placeholder="M&iacute;nimo 5 minutos, M&aacute;ximo 60 minutos.">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Url</span>
				<input type="url" placeholder="Url del Servicio Web" min="5" max="60" data-ng-model="data.apiUrl">
			</label>
		</div>
		<div class="padding">
			<div class="button-bar">
				<a class="button button-assertive icon-right ion-trash-a" data-ng-click="clearSettings($event)">Borrar</a>
				<a class="button button-balanced icon-right ion-locked" data-ng-click="saveSettings($event)">Guardar</a>
				<a class="button button-positive icon-right ion-loop" data-ng-click="dbSynchronize($event)">Sincronizar</a>
			</div>
		</div>
	</ion-content>
</ion-view>
