<ion-view view-title="Configuraci&oacute;n">
	<ion-content style="background-image: url(img/ob-background.png)">
		<div style="display: none; margin: auto; top: 0; bottom: 0; left: 0; right:0; position:center; width: 600px; height: 400px;">
			<img src="img/splash-text.png" alt=""/>
		</div>
	</ion-content>
</ion-view>
