﻿<ion-view view-title="Tiendas">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="showNewStoreForm($event)">
			Nueva
		</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Deslice para actualizar..."
					   on-refresh="loadStores()">
		</ion-refresher>
		<ion-list>
			<div class="item item-divider">
				Cliente
			</div>
			<ion-item>
				<h2>{{customerData.Alias}}</h2>
				<p>{{customerData.Name}}</p>
				<p>{{customerData.Address}}</p>
				<p>{{customerData.Neighborhood}}, {{customerData.CityName}}, C.P. {{customerData.ZipCode}}, {{customerData.StateName}}</p>
				<p>Responsable: {{customerData.ManagerName}}, Tel&eacute;fono: {{customerData.WorkPhone}}, Mov&iacute;l: {{customerData.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editCustomer($event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showCustomerOrders($event)">Pedidos</ion-option-button>
			</ion-item>
			<div class="item item-divider">
				Sucursales
			</div>
			<ion-item data-ng-show="storesList.length == 0">
				<p style="text-align: center;">El cliente no tiene sucursales registradas.</p>
			</ion-item>
			<ion-item data-ng-repeat="obj in storesList">
				<h2>{{obj.Alias}}</h2>
				<p>{{obj.Name}}</p>
				<p>{{obj.Address}}</p>
				<p>{{obj.Neighborhood}}, {{obj.CityName}}, C.P. {{obj.ZipCode}}, {{obj.StateName}}</p>
				<p>Responsable: {{obj.ManagerName}}, Tel&eacute;fono: {{obj.WorkPhone}}, Mov&iacute;l: {{obj.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editStore(obj, $event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="performSell(obj, $event)">Vender</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showStoreOrders(obj, $event)">Pedidos</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
