<ion-view view-title="Editar Tienda">
	<ion-nav-buttons side="right">
		<button class="button button-clear" ng-click="saveStore($event)">
			Guardar
		</button>
	</ion-nav-buttons>
	<ion-content>
		<div class="padding" data-ng-show="importButtonVisible">
			<button class="button button-block button-positive" data-ng-click="importData($event)">
				Importar Datos del Cliente
			</button>
		</div>
		<div class="list">
			<div class="item item-divider">
				Informaci&oacute;n General
			</div>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Nombre:</span>
				<input type="text" placeholder="Nombre del Negocio" data-ng-model="data.Name" />
			</label>
			<div class="item item-divider">
				Domicilio de la Tienda
			</div>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Domicilio</span>
				<input type="text" placeholder="Calle &amp; N&uacute;mero" data-ng-model="data.Address"/>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Colonia</span>
				<input type="text" placeholder="Colonia o Barrio o Fraccionamiento." data-ng-model="data.Neighborhood"/>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Ciudad</span>
				<input type="text" placeholder="Ciudad o Municipio." data-ng-model="data.CityName"/>
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Entidad Federativa
				</div>
				<select data-ng-model="data.StateID">
					<option data-ng-repeat="obj in getStates()" value="{{obj.ID}}">{{obj.Name}}</option>
				</select>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">C&oacute;digo Postal</span>
				<input type="text" placeholder="C&oacute;digo Postal." data-ng-model="data.ZipCode"/>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Referencias:</span>
				<input type="text" placeholder="Entre Calles." data-ng-model="data.References" />
			</label>
			<div class="item item-divider">
				Informaci&oacute;n de Contacto
			</div>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Due&ntilde;o Gerente o Encargado</span>
				<input type="text" placeholder="Nombre de la Persona de Contacto." data-ng-model="data.ManagerName" />
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Correo Electr&oacute;nico:</span>
				<input type="email" placeholder="nombre@empresa.com" data-ng-model="data.eMail" />
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Tel&eacute;fono de Negocio:</span>
				<input type="tel" placeholder="5512345678" data-ng-model="data.WorkPhone" />
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Tel&eacute;fono M&oacute;vil:</span>
				<input type="tel" placeholder="5512345678" data-ng-model="data.MobilePhone" />
			</label>
			<div class="item item-divider">
				D&iacute;a de Visita
			</div>
			<ion-radio name="weekday" data-ng-repeat="obj in getWeekDays()"
					   ng-model="data.WeekDay" ng-value="'{{obj.ID}}'">{{obj.Name}}</ion-radio>
			<div class="item item-divider">
				Frecuencia de Visita
			</div>
			<ion-radio name="frequency" data-ng-repeat="obj in getFrequenciesList()"
					   ng-model="data.FrequencyID" ng-value="'{{obj.ID}}'">{{obj.Name}}</ion-radio>
		</div>
	</ion-content>
</ion-view>
