﻿<ion-view view-title="Pedidos por Tienda">
	<ion-nav-buttons side="right">
		
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Deslice para actualizar..."
					   on-refresh="loadData()">
		</ion-refresher>
		<ion-list>
			<div class="item item-divider">
				Cliente
			</div>
			<ion-item>
				<h2>{{customerData.Alias}}</h2>
				<p>{{customerData.Name}}</p>
				<p>{{customerData.Address}}</p>
				<p>{{customerData.Neighborhood}}, {{customerData.CityName}}, C.P. {{customerData.ZipCode}}, {{customerData.StateName}}</p>
				<p>Responsable: {{customerData.ManagerName}}, Tel&eacute;fono: {{customerData.WorkPhone}}, Mov&iacute;l: {{customerData.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editCustomer($event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showStores($event)">Tiendas</ion-option-button>
			</ion-item>
			<div class="item item-divider">
				Datos de la Tienda
			</div>
			<ion-item>
				<h2>{{storeData.Alias}}</h2>
				<p>{{storeData.Name}}</p>
				<p>{{storeData.Address}}</p>
				<p>{{storeData.Neighborhood}}, {{storeData.CityName}}, C.P. {{storeData.ZipCode}}, {{storeData.StateName}}</p>
				<p>Responsable: {{storeData.ManagerName}}, Tel&eacute;fono: {{storeData.WorkPhone}}, Mov&iacute;l: {{storeData.MobilePhone}}</p>
				<ion-option-button class="button-light button-border-left" data-ng-click="editStore($event)">Editar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="performSell($event)">Vender</ion-option-button>
			</ion-item>
			<div class="item item-divider">
				Ventas
			</div>
			<ion-item data-ng-show="sellsList.length == 0">
				<p style="text-align: center;">La tienda no tiene ventas registradas.</p>
			</ion-item>
			<ion-item data-ng-repeat="obj in sellsList | orderBy:'CreatedDate':true">
				<div class="row">
					<div class="col col-20">Cliente:</div>
					<div class="col" style="font-weight: bold;">{{obj.CustomerName}}</div>
				</div>
				<div class="row">
					<div class="col col-20">Tienda:</div>
					<div class="col" style="font-weight: bold;">{{obj.StoreName}}</div>
				</div>
				<div class="row">
					<div class="col col-20">Folio:</div>
					<div class="col col-20" style="font-weight: bold;">{{obj.Key}}</div>
					<div class="col col-20">Fecha:</div>
					<div class="col col-20" style="font-weight: bold;">{{obj.CreatedDate | date: 'dd-MM-yyyy'}}</div>
					<div class="col col-10">Hora:</div>
					<div class="col col-10" style="font-weight: bold;">{{obj.CreatedDate | date: 'shortTime'}}</div>
				</div>
				<div class="row">
					<div class="col col-20">Importe:</div>
					<div class="col col-20" style="font-weight: bold;">{{obj.Total | currency:'$':2}}</div>
					<div class="col col-20">Rentabilidad:</div>
					<div class="col col-20" style="font-weight: bold; text-align: left;">{{obj.Profitability | currency:'':2}}%</div>
					<div class="col col-10">Enviado:</div>
					<div class="col col-10" style="font-weight: bold;">&nbsp;&nbsp;{{obj.IsSended ? 'Si': 'No'}}</div>
				</div>
				<ion-option-button class="button-light button-border-left" data-ng-click="showOrder(obj, $event)">Mostrar</ion-option-button>
				<ion-option-button class="button-light button-border-left" data-ng-click="showCustomer(obj, $event)">Cliente</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
